.main-action {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-fonte-cinza);
    font-family: var(--fonte-principal);
    width: 240px;
    height: 55px;
    line-height: 55px;
    border-radius: 10px;
}

.main-action:hover {
    background-color: var(--cor-hover);
}

.main-action.-home::before {
    content: "";
    background-image: url(../../assets/icons/icon-home.png);
    width: 20px;
    height: 20px;
    margin-left: 18px;
    margin-right: 24px;
}